/* This is a not very good hack to get the elements on the collections overview to fit to the screen*/
 #root {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  bottom: 0px;
  height: 100vh;
}

main {
  margin: 0 !important;
  padding: 0 !important;
  flex: 1 0 auto;
  height: 100%;
  overflow: hidden;
}